<!DOCTYPE html ng-app="productList">
<html>
  <head>
    <title>Fresh Inventory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="/js/core.js"></script>
  
  </head>
  
  <body ng-app="productList" ng-controller="productController">
    
    <h1 class="green">Fresh Inventory</h1> 
    <form>
       <input type="text" ng-model="formData.name" placeholder="Item Description" name="name">
  <input type="text" ng-model="formData.upc"placeholder="upc" name="upc">
  <select name="category" ng-model="formData.category" id="category">
    <option>Wet Rack</option>
    <option>Cold Rack</option>
    <option>Apples</option>
    <option>Citrus</option>
    <option>Tropical</option>
    <option>Berries</option>
    <option>Stone Fruit</option>
    <option>Vegetable/Cycle 4</option>
    <option>Tomatoes</option>
    <option>Potatoes & Onions</option>
  </select>
  <button type="submit" ng-click="createProduct()">Submit</button>
  </form>
  <ul ng-repeat="product in products">
    <li>{{product.name}} {{product.upc}} {{product.category}}
                        <button ng-click="deleteProduct(product._id)"> delete {{ product.id }}
                    </li>
    
  </ul>
  
  </body>
  
</html>